# Discord Webhook URL
SPONSORS_WEBHOOK_URL=

# GitHub webhook secret, used to verify requests are genuine.
# Can be generated with `openssl rand -hex 64`
SPONSORS_SECRET=

# Port the server will run on
SPONSORS_PORT=1982